<a href="https://colab.research.google.com/github/srujanav67/1000Movies_EDAProject/blob/master/GCD_Cert_05042020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Linear Regression - Predict Interest Rate
import pandas as pd
bank_data = pd.read_csv('https://raw.githubusercontent.com/insaid2018/GCD-Certification-Quiz-Data/master/Bank%20Data/bank_data.csv')

In [0]:
bank_data.columns

Index(['Unnamed: 0', 'Amount.Requested', 'Interest.Rate', 'Loan.Length',
       'Loan.Purpose', 'Debt.To.Income.Ratio', 'Monthly.Income', 'FICO.Range',
       'Open.CREDIT.Lines', 'Revolving.CREDIT.Balance',
       'Inquiries.in.the.Last.6.Months', 'Employment.Length', 'ho_mort',
       'ho_rent'],
      dtype='object')

In [0]:
bank_data = bank_data.drop('Unnamed: 0',axis = 1)

In [0]:
bank_data.columns

Index(['Amount.Requested', 'Interest.Rate', 'Loan.Length', 'Loan.Purpose',
       'Debt.To.Income.Ratio', 'Monthly.Income', 'FICO.Range',
       'Open.CREDIT.Lines', 'Revolving.CREDIT.Balance',
       'Inquiries.in.the.Last.6.Months', 'Employment.Length', 'ho_mort',
       'ho_rent'],
      dtype='object')

In [0]:
bank_data.dropna(inplace= True)

In [0]:
bank_data.isnull().any()

Amount.Requested                  False
Interest.Rate                     False
Loan.Length                       False
Loan.Purpose                      False
Debt.To.Income.Ratio              False
Monthly.Income                    False
FICO.Range                        False
Open.CREDIT.Lines                 False
Revolving.CREDIT.Balance          False
Inquiries.in.the.Last.6.Months    False
Employment.Length                 False
ho_mort                           False
ho_rent                           False
dtype: bool

In [0]:
bank_data.head()

   Amount.Requested  Interest.Rate  ...  ho_mort  ho_rent
0           20000.0           8.90  ...        1        0
1           19200.0          12.12  ...        1        0
2           35000.0          21.98  ...        1        0
3           10000.0           9.99  ...        1        0
4           12000.0          11.71  ...        0        1

[5 rows x 13 columns]

In [0]:
bank_data['FICO.Range'].unique()

array(['735-739', '715-719', '690-694', '695-699', '670-674', '720-724',
       '705-709', '685-689', '665-669', '725-729', '730-734', '740-744',
       '760-764', '675-679', '765-769', '780-784', '830-834', '660-664',
       '710-714', '785-789', '750-754', '700-704', '680-684', '755-759',
       '790-794', '810-814', '775-779', '815-819', '745-749', '800-804',
       '805-809', '655-659', '770-774', '795-799', '640-644', '645-649',
       '820-824', '650-654'], dtype=object)

In [0]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
label_encoder.fit(bank_data['FICO.Range'])
bank_data['FICO.Range'] = label_encoder.transform(bank_data['FICO.Range'])

In [0]:
bank_data.describe()

       Amount.Requested  Interest.Rate  ...      ho_mort      ho_rent
count       2484.000000    2484.000000  ...  2484.000000  2484.000000
mean       12434.802738      13.074167  ...     0.458937     0.458937
std         7797.266805       4.172580  ...     0.498411     0.498411
min         1000.000000       5.420000  ...     0.000000     0.000000
25%         6000.000000      10.160000  ...     0.000000     0.000000
50%        10000.000000      13.110000  ...     0.000000     0.000000
75%        17000.000000      15.800000  ...     1.000000     1.000000
max        35000.000000      24.890000  ...     1.000000     1.000000

[8 rows x 13 columns]

In [0]:
#Remove extreme outliers - < Q1+1.5*iqr and > Q3+1.5*iqr
#['Amount.Requested', 'Interest.Rate', 'Loan.Length', 'Inquiries.in.the.Last.6.Months', 'Revolving.CREDIT.Balance', 'Open.CREDIT.Lines', 'Monthly.Income']

Q1 = bank_data.quantile(0.25)
Q3 = bank_data.quantile(0.75)
IQR = Q3 - Q1

bank_data = bank_data[~((bank_data < (Q1 - 1.5 * IQR)) |(bank_data > (Q3 + 1.5 * IQR))).any(axis=1)]

   Amount.Requested  Interest.Rate  ...  ho_mort  ho_rent
0           20000.0           8.90  ...        1        0
1           19200.0          12.12  ...        1        0
3           10000.0           9.99  ...        1        0
4           12000.0          11.71  ...        0        1
5            6000.0          15.31  ...        0        0

[5 rows x 13 columns]

In [0]:
bank_data.describe()

       Amount.Requested  Interest.Rate  ...      ho_mort      ho_rent
count       1449.000000    1449.000000  ...  1449.000000  1449.000000
mean       10416.080055      12.281311  ...     0.394755     0.517598
std         5968.205517       3.622271  ...     0.488967     0.499863
min         1000.000000       5.420000  ...     0.000000     0.000000
25%         6000.000000       9.630000  ...     0.000000     0.000000
50%        10000.000000      12.120000  ...     0.000000     1.000000
75%        14000.000000      14.590000  ...     1.000000     1.000000
max        31075.000000      22.950000  ...     1.000000     1.000000

[8 rows x 13 columns]

In [0]:
bank_data.head()

   Amount.Requested  Interest.Rate  ...  ho_mort  ho_rent
0           20000.0           8.90  ...        1        0
1           19200.0          12.12  ...        1        0
2           35000.0          21.98  ...        1        0
3           10000.0           9.99  ...        1        0
4           12000.0          11.71  ...        0        1

[5 rows x 13 columns]

In [0]:
X =  bank_data.loc[:, bank_data.columns != 'Interest.Rate']
y =  bank_data['Interest.Rate']
from sklearn.model_selection import train_test_split
X_train, X_test, y_train,y_test = train_test_split(X,y, test_size=0.20, random_state=2)

In [0]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np
linreg = LinearRegression()
linreg.fit(X_train, y_train)
y_preds_train = linreg.predict(X_train)
y_preds = linreg.predict(X_test)

RMSE1 = np.sqrt(mean_squared_error(y_train, y_preds_train))
RMSETest = np.sqrt(mean_squared_error(y_test, y_preds))

print(RMSE1)
print(RMSETest)
print(linreg.intercept_)
print(linreg.rank_)
print(r2_score(y_test,y_preds))

1.9104519196026526
1.7934843465956394
17.660523143326937
11
0.7679633044081163